@import 'normalize.css/normalize';
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

:root {
  --max-site-width: 1280px;
  --color-bg: #fef8f8;
  --color-accent: #ef6f6f;
  --color-text: #4e4644;
  --font-title: 'Della Respira', sans-serif;
}

* {
  box-sizing: border-box;
}

#app {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'League Spartan', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}
